@import '/src/variables'
    
.card 
    display: flex
    gap: 2.5rem
    padding: 2.25rem
    border-radius: .5rem
    background: #fff
    height: 100%
    

    .profilePic 
        width: 6.25rem
        height: 6.25rem
        border-radius: 50%
        overflow: hidden

        img
            width: 100%

    .text 
        display: flex
        flex-direction: column
        gap: 2.5rem
        
        max-width: 34ch
        font-size: 1.5rem
        
        font-family: 'Rubik', sans-serif

    .comment
        &::before 
            content: ''
            width: 22px
            height: 22px
            background-image: url('/src/assets/pages_images/colls.png')
            background-size: contain
            background-repeat: no-repeat
            display: inline-block

            transform: rotate(180deg)
            margin: 0 5px 5px 0
        &::after 
            content: ''
            width: 22px
            height: 22px
            background-image: url('/src/assets/pages_images/colls.png')
            background-size: contain
            background-repeat: no-repeat
            display: inline-block

            margin-left: 5px
        
    @media  ( max-width: 1800px) and (min-width: $tabletBreakpoint )
        padding: 1.5rem
        gap: 1rem

        .profilePic 
            width: 4rem
            height: 4rem

        .comment 
            font-size: 1rem
            max-width: 30ch

            &::before 
                width: 17px
                height: 17px
                margin: 0
                margin-right: 2px
                transform: translateY(-2px)
            &::after 
                width: 17px
                height: 17px
                margin: 0

    @media  ( max-width: $mobileBreakpoint)
        padding: 1.5rem
        gap: 1rem

        .profilePic 
            width: 4rem
            height: 4rem

        .comment 
            font-size: 1rem
            max-width: 30ch

            &::before 
                width: 17px
                height: 17px
                margin: 0
                margin-right: 2px
                transform: translateY(-2px)
            &::after 
                width: 17px
                height: 17px
                margin-left: 4px
    @media  ( max-width: 480px)
        flex-direction: column
        align-items: center
        padding: 0 .5rem .5rem
        gap: 0
        margin: 1rem
        .profilePic 
            transform: translateY(-50%)

        .text 
            display: grid
            gap: 1rem

            .comment 
                line-height: 1.1
                &::before 
                    width: 14px
                    height: 14px
                    margin: 0
                    margin-right: 2px
                    transform: translateY(-2px)
                &::after 
                    width: 14px
                    height: 14px
            
            .name 
                grid-row: 1
                justify-self: center
            