@import '/src/variables'
    
.article 
    display: grid
    grid-template-columns: 1fr 1fr 
    min-height: 66.666vh
    // ! Verificar por que imagens estão vazando
    overflow: hidden

    img 
        height: 100%
        width: 100%
        object-fit: cover
        object-position: center

    @media (max-width: $mobileBreakpoint)
        grid-template-columns: 1fr

        img 
            grid-row: 1

    